{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О МУЦА{% endblock %}


{% block content %}
<div class="back">
    <div class="hero2-image">
        <div class="overlay">
            <div class="hero-text">
                <h1 class="h1_2">О МУЦА</h1>
            </div>
        </div>
    </div>
<div class="mission_and_img">
<div class="mission">
  <h2 class="h2_1">МИССИЯ МУЦА</h2>
  <hr class="gold-line">

  <p>Международный университет в Центральной Азии создан на основе американской модели высшего образования, формирующей ярких высокообразованных лидеров современного демократического общества.</p>
  <p>Основополагающими <b>принципами</b> университета являются <b>академическая честность</b> и <b>академическая свобода</b>. Университет зарекомендовал себя как проводник интеллектуальной свободы и безопасной, свободной от коррупции среды.</p>
  <p><b>Миссия</b> университета направлена на формирование глобально мыслящих ответственных лидеров, приверженных честности, способных интегрировать свои личные и профессиональные навыки в целях служения обществу</p>
</div>
  <div class="image_block">
    <img src="{% static 'img/Шапка_знания.webp' %}">
</div>

</div>


<div class="mission_and_img">
      <div class="image_block-1">
    <img src="{% static 'img/Шапка_знания.webp' %}">
</div>
<div class="mission">
  <h2 class="h2_1">ЦЕЛИ ВУЗА</h2>
  <hr class="gold-line">

  <p>Международный университет в Центральной Азии создан на основе американской модели высшего образования, формирующей ярких высокообразованных лидеров современного демократического общества.</p>
  <p>Основополагающими <b>принципами</b> университета являются <b>академическая честность</b> и <b>академическая свобода</b>. Университет зарекомендовал себя как проводник интеллектуальной свободы и безопасной, свободной от коррупции среды.</p>
  <p><b>Миссия</b> университета направлена на формирование глобально мыслящих ответственных лидеров, приверженных честности, способных интегрировать свои личные и профессиональные навыки в целях служения обществу</p>
</div>


</div>
{% endblock %}