{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О МУЦА{% endblock %}

{% block content %}


<div class="back">
    <div class="hero2-image">
        <div class="overlay">
            <div class="hero-text">
                <h1 class="h1_2">О МУЦА</h1>
            </div>
        </div>
    </div>
<div class="mission_and_img">
<div class="mission">
  <h2 class="h2_1">МИССИЯ МУЦА</h2>
  <hr class="gold-line">

  <p>Международный университет в Центральной Азии создан на основе американской модели высшего образования, формирующей ярких высокообразованных лидеров современного демократического общества.</p>
  <p>Основополагающими <b>принципами</b> университета являются <b>академическая честность</b> и <b>академическая свобода</b>. Университет зарекомендовал себя как проводник интеллектуальной свободы и безопасной, свободной от коррупции среды.</p>
  <p><b>Миссия</b> университета направлена на формирование глобально мыслящих ответственных лидеров, приверженных честности, способных интегрировать свои личные и профессиональные навыки в целях служения обществу</p>
</div>
  <div class="image_block">
    <img src="{% static 'img/Шапка_знания.webp' %}">
</div>

</div>


<div class="mission_and_img">
      <div class="image_block-1">
    <img src="{% static 'img/Документы.avif' %}">
</div>
<div class="mission">
  <h2 class="h2_1">ЦЕЛИ ВУЗА</h2>
  <hr class="gold-line">

  <p class="icon-text"> <i class="bi bi-caret-right-fill" style="color: #FFC107;"></i>
Вхождение в число 10 лучших университетов Центральной Азии</p>
  <p class="icon-text"><i class="bi bi-caret-right-fill" style="color: #FFC107;"></i>
 Открытие магистратуры на всех программах по программе двойных дипломов</p>
  <p class="icon-text"><i class="bi bi-caret-right-fill" style="color: #FFC107;"></i>
 Открытие Высшей школы бизнеса, экономики и информационных технологий им. Янга</p>
  <p class="icon-text"><i class="bi bi-caret-right-fill" style="color: #FFC107;"></i>
 Формирование современного инновационного многоуровневого образовательного комплекса</p>
</div>

</div>
<div class="dignity">
  <h1>ДОСТОИНСТВА МУЦА</h1>
  <hr class="gold-line">
  <div class="cards-grid">
    {% include "components/card.html" with title="Политика академической свободы и академической честности" short_text="Принципы академической свободы и честности позволяют добиваться более высокого качественного уровня образования." full_text="Мы стремимся не нарушать принципы равенства и справедливости, не дискриминируем сотрудников и студентов по причине социального или этнического статуса." %}
    {% include "components/card.html" with title="Высокий качественный уровень профессорско-преподавательского состава" short_text="Мы привлекаем лучших преподавателей страны (бывший министр образования, бывший судья Конституционного суда, бывший председатель" full_text="национального банка КР, бывший советник премьер-министра), лучшие иностранные преподаватели из США, Индии, Великобритании, Тайваня, Китая и Канады." %}
    {% include "components/card.html" with title="Вклад в региональное развитие" short_text="МУЦА является единственным вузом в стране, в котором начинается регулярное исследование познавательных и личностных особенностей," full_text="в объявленный 2019 г. Президентом КР Год развития регионов и цифровизации, мы начинаем инвестиционный проект по строительству нового кампуса в Токмоке, который станет одним из лучших региональных проектов страны и создаст новые рабочие места." %}
    {% include "components/card.html" with title="Личностно-центрированный подход к обучению" short_text="Принципы академической свободы и честности позволяют добиваться более высокого качественного уровня образования." full_text="МУЦА является единственным вузом в стране, в котором начинается регулярное исследование познавательных и личностных особенностей, этического и интеллектуального развития каждого студента." %}
    {% include "components/card.html" with title="Постоянная работа над улучшением инфраструктуры" short_text="В 2018 году приобретено 13 благоустроенных квартир в центре города Токмок, проведен ремонт. В 2019 году арендована земля и заложена" full_text="Основа для постройки нового кампуса." %}
    {% include "components/card.html" with title="Формирование социальной ответственности" short_text="Формирование социальной ответственности студентов является" full_text="целью каждой программы." %}
  </div>
</div>

<div class="structure">
  <h1>СТРУКТУРА ВУЗА</h1>
  <hr class="gold-line">

  <p class="card-text custom-text">
    Действует линейно-функциональная структура управления. Администрация университета обеспечивает взаимодействие с органами государственной власти и местного самоуправления, международными организациями, учредителями и попечительским советом, ассоциацией выпускников; осуществляет стратегическое планирование развития университета; проводит анализ всей деятельности, включая финансовый аудит. 
    В управлении значительная роль принадлежит комитетам, которые обеспечивают демократичность, открытость и прозрачность процесса принятия решений.
    
    <!-- скрываемая часть -->
    <span class="more-text" style="display:none;">
      В университете действуют такие комитеты, как куррикулум комитет, отвечающий за содержание и качество образовательного процесса; комитет по продвижению, направленный на поиски форм и методов поощрения и стимулирования сотрудников и преподавателей; комитет по финансовой поддержке, регулирующий процесс оказания финансово-материальной помощи студентам, поощрения студентов с высоким уровнем GPA и активным участием в общественной жизни; дисциплинарный комитет, обеспечивающий соблюдение академической честности и повседневного порядка в университете; финансовый комитет, решающий финансовые задачи; комитет по научно-исследовательской работе, координирует вопросы по НИР и НИРС; апелляционный комитет, разрешающий спорные вопросы в учебном процессе.
      
      Складывающаяся в вузе культура управления носит ценностно-ориентированный характер, при котором важны не только передача информации и предписаний, но и дискуссии, обоснованность принятия решений, сотрудничество в достижении образовательных целей и результатов обучения. Руководство вузом осуществляется на коллегиальной основе.
    </span>
  </p>

  <!-- кнопка всегда появляется -->
  <button class="btn btn-warning btn-sm" onclick="toggleText(this)">
    Читать подробнее
  </button>
</div>

</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}