{% extends 'main/layout.html' %}

{% block title %}Подать заявление{% endblock %}

{% block content %}
<section class="container my-5">
  <h2 class="text-center mb-4">Подача заявления</h2>

  <div style="display:flex; justify-content:center;">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSftJxAP5lo44d6YZ9PdJtfDEUmG40v-nFyFvNE79p7_7TTG7A/viewform?embedded=true" width="640" height="1156" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
  </div>
</section>
{% endblock %}
