{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="back">
<div class="hero-image">
    <div class="overlay">
        <div class="hero-text">
            <h1 class="h1_1">Добро пожаловать на сайт МУЦА</h1>
            <p>International University of Central Asia</p>
    <button class="statement" onclick="location.href='{% url 'apply' %}'">Подать заявление</button>
        </div>
    </div>
</div>

</div>
<div class="mission_and_img">
<div class="mission">
  <h2 class="h2_1">МИССИЯ МУЦА</h2><br><br>

  <p>Международный университет в Центральной Азии создан на основе американской модели высшего образования, формирующей ярких высокообразованных лидеров современного демократического общества.</p>
  <p>Основополагающими <b>принципами</b> университета являются <b>академическая честность</b> и <b>академическая свобода</b>. Университет зарекомендовал себя как проводник интеллектуальной свободы и безопасной, свободной от коррупции среды.</p>
  <p><b>Миссия</b> университета направлена на формирование глобально мыслящих ответственных лидеров, приверженных честности, способных интегрировать свои личные и профессиональные навыки в целях служения обществу</p>
</div>
  <div class="image_block">
    <img src="{% static 'img/Шапка_знания.webp' %}">
</div>

</div>
<div class="advantages">
    <h2>ПРЕИМУЩЕСТВА МУЦА</h2>
    <div class="points">
        <div class="point-card">
            <i class="bi bi-star"></i>
            <h5>Политика академической свободы и академической честности</h5>
        </div>
        <div class="point-card">
            <i class="bi bi-star"></i>
            <h5>Высокий качественный уровень профессорско-преподавательского состава</h5>
        </div>
        <div class="point-card">
            <i class="bi bi-star"></i>
            <h5>Вклад в региональное развитие</h5>
        </div>
        <div class="point-card">
            <i class="bi bi-star"></i>
            <h5>Личностно-центрированный подход к обучению</h5>
        </div>
        <div class="point-card">
            <i class="bi bi-star"></i>
            <h5>Постоянная работа над улучшением инфраструктуры</h5>
        </div>
        <div class="point-card">
            <i class="bi bi-star"></i>
            <h5>Формирование социальной ответственности</h5>
        </div>
    </div>
</div>
<section class="container my-5">
  <h2 class="text-center mb-4">ПОСЛЕДНИЕ НОВОСТИ</h2>

  <div class="row">
    {% for news in last_news %}
      <div class="col-md-4 mb-4" id="news-{{ news.pk }}">
    <div class="card h-100 shadow-sm">
        {% if news.image %}
            <img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}">
        {% endif %}
        <div class="card-body text-center">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="text-muted">{{ news.created_at|date:"d.m.Y" }}</p>

            <a href="{% url 'news_detail' news.pk %}?anchor=news-{{ news.pk }}" class="btn btn-primary">
                Читать подробнее
            </a>
        </div>
    </div>
</div>

    {% empty %}
      <p class="text-center">Новостей пока нет</p>
    {% endfor %}
  </div>
</section>

{% endblock %}

