{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="hero1-image">
    <div class="overlay">
        <div class="hero-text">
            <h1 class="h1_2">НОВОСТИ</h1>
        </div>
    </div>
</div>

    <!-- НОВОСТИ -->
    <section class="news-section my-5">

        <div class="news-grid">
            {% for news in news_list %}
                <div class="news-card" id="news-{{ news.pk }}">
                    <div class="news-card-inner">

                        {% if news.image %}
                            <img src="{{ news.image.url }}" class="news-image" alt="{{ news.title }}">
                        {% endif %}

                        <div class="news-body">
                            <div>
                                <h5 class="news-title">{{ news.title }}</h5>
                                <div class="news-divider"></div>
                                <p class="news-date">{{ news.created_at|date:"d.m.Y" }}</p>
                            </div>

                            <a href="{% url 'news_detail' news.pk %}?anchor=news-{{ news.pk }}" class="btn btn-primary">
                              Читать подробнее
                            </a>

                        </div>

                    </div>
                </div>
            {% empty %}
                <p class="text-center">Новостей пока нет</p>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
